/*! --------- 1- FORGOT PASS ----------*/

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    display: block;
    border-radius: 10px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #EC1010;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.7;
  }

  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  .container a{
    text-decoration: none;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    
  }

  .signin-div{
    width: 40%;
    min-width: 20rem;
    display: block;
    margin: auto;
    box-shadow: 0px 32px 72px rgba(20, 20, 43, 0.24);
    border-radius: 10px;
    margin: auto;
    margin-top: 10rem;
  }

  .other{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .other p{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }


  .kayit{
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
  
  }

  .kayit a{
    text-decoration: none;
  }

  .psw{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }