/*!----------------------- 1- NAVBAR----------------------*/
.navbar{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2rem;
}

.navbar li{

  margin-right: 3rem;
  
}

.nav-link{
  color: #5D5A88;
  transition: color 0.5s;
}
.nav-link:hover{
  color: red;
}

.photo{
  background-color: red;
  height: 133px;
  width: 135px;
}

.form-control{
  margin-left: 4rem;
  margin-right: 4rem;
}

.btn-outline-danger{
  margin-right: 4rem;
}

.giris{
  color: #5D5A88;
  background-color: white;
  border-radius: 10px;
  border-color: #D4D2E3;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 1rem;
}

.giris:hover{
  background-color: #EC1010;
  color: white;
  transition:  0.7s;
}



/*! --------- 2- SIGN IN FORM ----------*/

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    display: block;
    border-radius: 10px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=number], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #EC1010;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.7;
  }

  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  .container a{
    text-decoration: none;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    
  }

  .signin-div{
    width: 40%;
    min-width: 20rem;
    display: block;
    margin: auto;
    box-shadow: 0px 32px 72px rgba(20, 20, 43, 0.24);
    margin-bottom: 2rem;
    border-radius: 10px;
    
  }

  .other{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .other p{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .social-media{
    display: block;
    
  }
  .social-m{
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .social-media i{
    font-size: 2rem;
    color: black;
    margin-right: .8rem;
    transition: color 1s;
    margin: 0.5rem;
  }

  .social-media i:hover{
    color: red;
  }

  .kayit{
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
  
  }

  .kayit a{
    text-decoration: none;
  }

