<!--4- ABOUT -->
<section id="about" class="container bg-light p-3">
    <h2 class="display-6 text-primary text-center">HAKKIMIZDA</h2>
    <br />
    <div class="card-deck">
        <h5>En Geçerli Sınav Sistemi</h5>
        <p>
            PetPark offers a full range of pet supplies for you and your pets -
            over 8,000 top products in stock and ready to ship. With over 5 years
            of expertise in pet food and pet accessories, you can expect
            <strong>top brands</strong> and quality products at amazing
            <strong>low prices</strong>. <br />

            It is our goal to make your life easier with simple
            <strong>online ordering</strong> and
            <strong>convenient home delivery</strong>. With helpful features such
            as product videos, customer reviews and photos, and carefully
            researched product descriptions, you can always make an informed
            decision about which product is right for your pet. <br />

            We’re proud to offer all the best for you and your pets 365 days of
            the year.
        </p>
        <br />
        <h5>En Güvenilir Sınav Sistemi</h5>
        <p>
            We've been making pets and their owners happy for over 5 years - since
            2017 in fact. That means we've shipped over 48 million parcels to
            countries across Europe. We work with delivery partners across Europe
            to <strong>ship to 28 different countries</strong>. After all, from
            Finland to Turkey and from Spain to Slovakia, our customers love their
            pets!
        </p>
        <br />
        <h5>En İyi Kalitede Soru ve Başarıya Ulaşım</h5>
        <p>
            We never share your personal data with advertisers or other third
            parties. Your data is used for one thing only: processing your order.
            <br />

            You can learn more about our policies regarding data security in the
            full zooplus <a href="#" class="text-success">privacy policy</a>.
        </p>
        <br />
        <h5>Daha İyi bir Eğitim İçin </h5>
        <p>
            We work hard to make sure your parcel is on its way to you as quickly
            as possible. With the best technology and a dedicated staff, your
            parcel is carefully packed and double checked for quality. <br />

            If you have any questions, <strong>contact with us</strong>, we are
            always happy to help!
        </p>
    </div>
</section>