@model List<ClassModel>

<link rel="stylesheet" href="~/css/IndexStyle.css" />    
<!--2- CAROUSEL -->
    <partial name="_carousel"/>

<!--3- CLASSES -->
<section id="pets" class="container bg-light p-2">
    <h2 class="display-6 text-primary">Sınıflar</h2>
    <div id="dog" class="card-deck">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card mb-2 col-md-12 col-lg-6">
                    <a asp-controller="Class" asp-action="Test" asp-route-id="@item.Id"class="card-body d-inline-flex">
                        <img class="card-img-top"
                         src="~/img/@item.Id-Sinif.jpg"
                         alt="Card image cap" />
                        <div class="p-2">
                            <h5 class="card-title">@item.Name</h5>
                            <ul>
                                <li>
                                    <p class="text-decoration-none">TYT Sınavları</p>
                                </li>
                                <li>
                                    <p class="text-decoration-none">Testler</p>
                                </li>
                                <li><p class="text-decoration-none">Sınav Takvimi</p></li>
                            </ul>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>




    
