<footer class="bg-dark text-center text-light p-4">
    <article>
        <a href="#1"> <i class="fab fa-facebook-f"></i></a>
        <a href="#1"> <i class="fab fa-youtube"></i></a>
        <a href="#1"> <i class="fab fa-linkedin"></i></a>
        <a href="#1"> <i class="fab fa-instagram"></i></a>
    </article>

    <article class="p-4 h6"> &copy Copyright by BilgiÖlçer <script>document.write(new Date().getFullYear())</script></article>
</footer>