<!--1- NAVBAR -->
<link rel="stylesheet" href="~/css/Navbar.css" />
<nav id="nav" class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="photo" src="~/img/BilgiÖlçer-resize.png" alt="" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarScroll"
                aria-controls="navbarScroll"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll "
                style="--bs-scroll-height: 100px">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/Home/Index">Anasayfa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Sınıflar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./sınıflar/9.sinif.html">9.Sınıf</a></li>
                        <li><a class="dropdown-item" href="./sınıflar/10.sinif.html">10.Sınıf</a></li>
                        <li><a class="dropdown-item" href="./sınıflar/11.sinif.html">11.Sınıf</a></li>
                        <li><a class="dropdown-item" href="./sınıflar/12.sinif.html">12.Sınıf</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">İLETİŞİM</a>
                </li>
                @if(!User.Identity.IsAuthenticated){
                <li class="nav-item">
                    <a class="nav-link" href="/User/Login"><button class="giris">Giriş / Kayıt Ol</button></a>
                </li>
                }
                else{
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/Profile/Dashboard">@User.Identity.Name</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/User/Logout"><button class="giris">Logout</button></a>
                </li>
                }
                
            </ul>
        </div>
    </div>
</nav>