<nav id="nav" class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="photo" src="./img/BilgiÖlçer-resize.png" alt="" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarScroll"
                aria-controls="navbarScroll"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <form class="d-flex" role="search">
                <input class="form-control me-2"
                       type="search"
                       placeholder="Ara"
                       aria-label="Search" />
                <button class="btn btn-outline-danger" type="submit">
                    Ara
                </button>
            </form>
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
                style="--bs-scroll-height: 100px">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Sınıflar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#dog">9.Sınıf</a></li>
                        <li><a class="dropdown-item" href="#cat">10.Sınıf</a></li>
                        <li><a class="dropdown-item" href="#fish">11.Sınıf</a></li>
                        <li><a class="dropdown-item" href="#bird">12.Sınıf</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact.html">İLETİŞİM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./signin.html"><button class="giris">Giriş / Kayıt Ol</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>