@model  List<Question>
<!--2- LESSONS-TESTS -->
<section id="pets" class="container bg-light p-2">
	<div id="dog" class="card-deck">
		<div class="row">
			<div class="card mb-2 col-md-12 col-lg-3">
				<div class="card-body d-inline-flex">
					<div class="p-2">
						<h5 class="card-title">Dersler</h5>
						<hr>						
						<div class="dersler">
							<ul>
								@foreach (var item in Model)
								{
									<a asp-controller="Class" asp-action="Subject" asp-route-id="@item.Id" class="card-body">
									<li>@item.Lesson</li>
									</a>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="cat" class="card mb-2 col-md-12 col-lg-9">
				<div class="card-body d-inline-flex">
					<div class="p-2">
						<h5 class="card-title">Konular</h5>
						<hr>
						<div class="konular">
							<ul>
								@foreach (var item in Model)
								{
									<a asp-controller="#" asp-action="#" asp-route-id="@*@item.Id*@" class="card-body">
									<li>@item.Subject</li>
									</a>
								}
							</ul>
						</div>
						<div class="popup" onclick="myFunction()">
							Click me!
							<span class="popuptext" id="myPopup">Popup text...</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>