<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/ForgotPassword.css">
	<title>BilgiÖlçer | Şifre Sıfırlama</title>
</head>
<body>
	<div class="signin-div">
		<div>
			<form class="signin-form" action="/User/ForgotPassword" method="post">
				<div class="imgcontainer">
					<h1>Şifreyi Sıfırla</h1>
					<h3>Şifreni sıfırlamak için emailini girebilirsin</h3>
				</div>
				<hr width="80%" align="center">
				<div class="container">
					<input type="text" placeholder="Email" name="Email" required>

					<span class="psw"><a href="#">Mailini mi unuttun ?</a></span>

					<button type="submit">Parolayı Sıfırla</button>

				</div>
			</form>
		</div>

	</div>
</body>
</html>