<link rel="stylesheet" href="~/css/LoginStyle.css" />
<div class="signin-div">
	<div>
		<form class="signin-form" action="action_page.php" method="post">
			<div class="imgcontainer">
				<h1>Haydi Giriş Yap</h1>
				<h3>Hoşgeldin, Seni görmeyi özledik</h3>
			</div>

			<div class="container">
				<input type="text" placeholder="Email ,telefon numarası & kullanıcı adı" name="uname" required>

				<input type="password" placeholder="Şifre" name="psw" required>

				<button type="submit">Giriş Yap</button>

				<label>
					<input type="checkbox" checked="checked" name="remember"> Beni Hatırla
				</label>

				<span class="psw"><a href="/User/ForgotPassword">Şifreni mi unuttun ?</a></span>
			</div>

			<div class="other">
				<hr width="40%" align="left">
				<p>veya</p>
				<hr width="40%" align="right">
			</div>

			<div class="social-media">
				<ul class="social-m">
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-facebook" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a class="apple" href="#">
							<i class="fab fa-apple" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a class="google" href="#">
							<i class="fab fa-google" aria-hidden="true"></i>
						</a>
					</li>
				</ul>

				<span class="kayit">Hesabın yok mu? <a href="/User/Register">Kayıt Ol</a></span>

			</div>
		</form>
	</div>

</div>
