<link rel="stylesheet" href="~/css/RegisterStyle.css" />
<div class="signin-div">
	<div>
		<form class="signin-form" action="/User/Register" method="post">
			<div class="imgcontainer">
				<h1>Haydi Giriş Yap</h1>
				<h3>
					Hoşgeldin , kayıt olarak sana özel
					iceriklerden faydalanabilirin
				</h3>
			</div>

			<div class="container">
				<input type="text" placeholder="İsim Soyisim" name="FullName" required>

				<input type="text" placeholder="Kullanıcı Adı" name="UserName" required>

				<input type="number" placeholder="Telefon Numarası" name="PhoneNumber" required>

				<input type="email" placeholder="Email" name="Email" required>

				<input type="password" placeholder="Şifre" name="Password" required>

				<input type="password" placeholder="Şifrenizi Tekrar Giriniz" name="RePassword" required>

				<button type="submit">Kayıt Ol</button>

			</div>

			<span class="kayit">Hesabın var mı? <a href="/User/Login">Giriş Yap</a></span>
		</form>
	</div>

</div>
